<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_share/metadata.ejs') %> 
  <title><%= title %></title>
  <%- include('../_share/stylesheets.ejs') %>
</head>
<body>
  test

</body>
</html>