<footer class="footer" style="bottom: 0;">
  <div class="container">
    <div class="text-center">
      <p class="mt-5 mb-3 text-muted">Copyritht (c) 2021 kakeibo. All Rights Reserved.</p>
    </div>
  </div>
</footer>